<?xml version="1.0" encoding="utf-8"?>

<config>

    <basePath>cloudmusic</basePath> 

    <server_token>servertoken</server_token>

    <zookeeper>
        <zookeeper_node>
            <ip>127.0.0.1:2181</ip>
        </zookeeper_node>
    </zookeeper>

    <gate_server>
        <ip>:8701</ip>
    </gate_server>

    <database>
        <type>mysql</type>
        <accout>root</accout>
        <passowrd>mysql123456</passowrd>
        <name>cloud_music</name>
        <ip>127.0.0.1:3306</ip>
    </database>

    <servers>
        <server>
            <name>LoginServer</name>
            <ip>127.0.0.1</ip>
            <port>8801</port>
        </server>
        <server>
            <name>DataServer</name>
            <ip>127.0.0.1</ip>
            <port>8802</port>
        </server>
    </servers>

</config>
